/*
styles guide
0.reset
1. layout
2. generic items
3. parts of the web
4. list
5. form
6. animations
-----------------
colors:
color1=>#2c3e50;
color2=>#34495e;
color3=>#3498db;
color4=> #fff;
*/

/*0 reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/**
@medias
*/
/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .emails-content-class{
      margin-left: 0% !important;
    }
    .title-content-information-greey{
      font-size: 17px !important;
    }
    .navbar-nav > li > a{
      text-align: center !important;
      width: 100% !important;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  .emails-content-class{
    margin-left: 0% !important;
  }
  .title-content-information-greey{
    font-size: 17px !important;
  }
  .navbar-nav > li > a{
    text-align: center !important;
    width: 100% !important;
  }
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
  /* Styles */
  .emails-content-class{
    margin-left: 0% !important;
  }
  .title-content-information-greey{
    font-size: 17px !important;
  }
  .navbar-nav > li > a{
    text-align: center !important;
    width: 100% !important;
  }
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
  /* Styles */
  .emails-content-class{
    margin-left: 0% !important;
  }
  .title-content-information-greey{
    font-size: 17px !important;
  }
  .navbar-nav > li > a{
    text-align: center !important;
    width: 100% !important;
  }
  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
  .emails-content-class{
    margin-left: 0% !important;
  }
  .title-content-information-greey{
    font-size: 17px !important;
  }
  .navbar-nav > li > a{
    text-align: center !important;
    width: 100% !important;
  }
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
  .emails-content-class{
    margin-left: 0% !important;
  }
  .title-content-information-greey{
    font-size: 17px !important;
  }
  .navbar-nav > li > a{
    text-align: center !important;
    width: 100% !important;
  }
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
  .emails-content-class{
    margin-left: 0% !important;
  }
  .title-content-information-greey{
    font-size: 17px !important;
  }
  .navbar-nav > li > a{
    text-align: center !important;
    width: 100% !important;
  }
  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
  /* Styles */
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone X ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* iPhone XS Max, XR ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .emails-content-class{
      margin-left: 0% !important;
    }
    .title-content-information-greey{
      font-size: 17px !important;
    }
    .navbar-nav > li > a{
      text-align: center !important;
      width: 100% !important;
    }
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
/**
@medias
*/
@font-face {
  font-family: 'SourceSans-Semibold';
  src: url('/css/source-sans-pro/SourceSansPro-Semibold.otf');
  font-family: 'SourceSans-regular';
  src: url('/css/source-sans-pro/SourceSansPro-Regular.otf'); /* IE9 Compat Modes */
  
}

.emails-content-class{
  margin-left: 0% !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
   padding-top: 10px;


}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 1 layout*/
html {
  scroll-behavior: smooth;
}
p{
  text-align:left;
  padding-top: 10px;
  text-align: left;
}
#header{
position: fixed;
top: 0;
width:100%;
}
footer {
  bottom: 0px;
  height: 350px;
  padding-top: 0px;
  width: 100%;
  margin: 0px auto;
  background-position: bottom;
  background-size: 100%;
  background-image: url("/img/background-content.jpg");
  background-repeat: no-repeat;
  border-top: 10px solid #33cc66;
   /*position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: green;
   color: white;
   text-align: center;*/
}
.logo-nav-container{
  display: flex;
  justify-content: space-between;
}

 #carousel-inner > .item > img,
  #carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }

#inicio,#QuienesSomos,#Formatos,#Servicios,#NuestrosClientes,#Ubicacion {
  align-content: center;
  height: 100%;
  width: 100%;
  color:black;
  display: inline-block;
  background-color: white !important;
}
#servicios{
column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -o-column-count: 4;
        /*Espacio entre columnas*/
    column-gap: 2em;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    -o-column-gap: 2em;
    /*Agrega una barra solida de color*/
    column-rule: 2px solid #666;
    -webkit-column-rule: 2px solid #666;
    -moz-column-rule: 2px solid #666;
    -o-column-rule: 2px solid #666
}

#uno{
  float: left;
  padding: 10;
  width: 250px;
  margin: 20px;
  text-align: left;
}
#dos{
  float: left;
  padding: 10;
  width: 250px;
  margin: 20px;
  text-align: left;
}

#tres{
  float: right;
  padding: 10px;
  width: 250px;
  margin: 20px;
  text-align: left;
}
#cuatro{
  float: right;
  padding: 10px;
  width: 250px;
  margin: 20px;
  text-align: left;
}
/*#Formatos{
  padding: 20px;
  float: center;
  width: 100%;
}*/
/*
#testamentos{
  width: 100px;
  padding-left:  50px;
  padding-right: 50px;
  margin-left:   30px;
  margin-right:  30px;
  text-align: center;
}

/*MENU*/
.html {
  scroll-behavior: smooth;
}
.body {
text-align: center;font: 300 20px/1.7 'Roboto Condensed;' ;
margin: 10;
position: relative;
}

@media only screen and (max-width: 767px){
.menu-icon{
  display: none;
  cursor: pointer;
}
}

#navbar {
  position: fixed;
  color:white;
  background-color:white; 
  overflow: hidden;
  height: auto;
  text-align: right;
  width: 100%;
  left: 0;
  top: 0;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  left:50%;
  display: none;

}

.subnav {
  float: left;
  overflow: hidden;
    right: 50%;

}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding-top: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  right: 100%;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #344F2B;
  color:white;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: grey;
  width: 100%;
  z-index: 1;
   padding: 14px 16px;
}


/*SCROLL*/
.html {
  scroll-behavior: smooth;
}
/*ETIQUETA*/
h2{
  text-align:center;
  padding-top: 30px;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

 /*PARTS OF THE WEB*/
 .content{
  padding: 1280px 725;
  align-content: center;
  }
.h2{
color :white;
text-align: center;
}

/*LIST*/

.top-navigate{

}

.container-nav{
  background-color: white !important;
}

.navbar-nav > li > a{
  /*otro codigo*/
  color:#063019 !important;
  padding: 20px !important;
}

.list-custom-content > li > a{
  /*otro codigo*/
  color:#5c5c5c !important;
}

.list-custom-content > li{
  /*otro codigo*/
  margin-top: 10px;
}


.navbar-nav > li > a:hover{
  /*otro codigo*/
  background-color: #063019 !important;
  color: white !important;
}

.nav>li>a{
  position: initial !important;
}

.title-information-div{
  /*height: 40% !important;*/
  height: 200px !important;
}

.title-information-content{
  padding: 2%;
  height: 110%;
  margin: 0px auto;
  background-position: bottom;
  background-size: 100%;
  background-image: url("/img/background-content.jpg");
  background-repeat: no-repeat;
  /*border-bottom: 10px solid #33cc66;*/
}

.title-information-content-contact{
  padding: 2%;
  height: 150%;
  margin: 0px auto;
  background-position: bottom;
  background-size: 100%;
  background-image: url(/img/background-content.jpg);
  background-repeat: no-repeat;
  border-bottom: 17px solid #cc9933;
}

.title-information-content-services{
  padding: 2%;
  height: 150%;
  margin: 0px auto;
  background-position: bottom;
  background-size: 100%;
  background-image: url("/img/assets/services.png");
  background-repeat: no-repeat;
 /* border-bottom: 10px solid #33cc66;*/
}


.title-information-content-we_us{
  padding: 2%;
  height: 150%;
  margin: 0px auto;
  background-position: bottom;
  background-size: 100%;
  background-image: url("/img/assets/we_us.png");
  background-repeat: no-repeat;
 /* border-bottom: 10px solid #33cc66;*/
}

.title-information-content-clients{
  padding: 2%;
  height: 150%;
  margin: 0px auto;
  background-position: bottom;
  background-size: 100%;
  background-image: url("/img/assets/clients.png");
  background-repeat: no-repeat;
 /* border-bottom: 10px solid #33cc66;*/
}


.title-information-content-formats{
  padding: 2%;
  height: 150%;
  margin: 0px auto;
  background-position: bottom;
  background-size: 100%;
  background-image: url("/img/assets/format.png");
  background-repeat: no-repeat;
 /* border-bottom: 10px solid #33cc66;*/
}

.content-information-div{
  padding-top: 10pc;
  margin-bottom: 100px;
}

.content-information-div-services{
  padding-top: 10pc;
  margin-bottom: 100px;
}

.hr-content-green{
  /*border-top:1px solid #063019 !important;*/
  height: 5px;
  width: 10%;
  background-color: #063019;
}

.hr-content-green-soft{
  height: 3px;
  background-color: #33cc66;
}

.hr-content-white{
  /*border-top:1px solid #063019 !important;*/
  height: 3px;
  width: 7%;
  background-color: white;
}

.title-content-information-green{
  color: #063019;
}

.title-content-information-greey{
  color: #4d4d4d;
}

.list-custom-content{
  list-style: disc !important;
  color:#5c5c5c;
  margin-left: 20px;
}

.our-clients-content{
  padding-top: 10pc;
  max-width: 1200px;
  margin: 0px auto;
}

.our-clients-content > div{
  margin: 0px auto;
}

.img-custom-content{
  margin-top: 20px;
}

.formats-content-div{
  padding-top: 50px;
}
.flecha{
  background-size: 100%;
  background-image: url("/img/mayor.png");
  background-repeat: no-repeat;
}

.formats-content-div > div{
  margin: 0px auto;
  max-width: 800px;
}

.row{
  width: 100% !important;
}

.sub-footer{
  color: white;
  position: relative;
  margin-left: 0px;
  background-color: #063019;
}

.right-footer{
  float: left;
  width: 50%;
  height: 100%;
  background-color: #063019f2;
  text-align: center;
  padding-top: 9%;
    margin: 0px auto;
}


#title-form-services{
  margin-bottom: 55px;
}

.body-format{
  max-width: 800px;
  padding-top: 65px;
  margin: 0px auto;
}

.left-footer{
  float: left;
  width: 50%;
  height: 100%;
  color:white;
  background-color: #06301994;
}

.not-marging-left{
  margin-left: 0px !important;
}

.not-container{
  margin-bottom: 150px;
  margin-right: 0px !important;
  margin-left: 0px !important;
  width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ubication-content-div{
  margin-bottom: 200px;
  padding-top: 45px;
}

.emails-content-class{
  margin-left: 30%;
  width: 70%;
}

